* {
  box-sizing: border-box;
  margin: 0px;
 
}

header {
  position: sticky;
  top: 0px;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 26, 0.877);
  backdrop-filter: blur(2px);
  margin-bottom: 21px;
}
body {
  background-color:  #010105;
  overflow-x: hidden;
  
}
body::-webkit-scrollbar{
  width: 7px;
  z-index: -11;
  
  
}
body::-webkit-scrollbar-thumb{
  background-color: transparent;
  height: 5px;
  border: 2px solid rgba(4, 4, 158, 0.877);
  border-radius: 20px;
}

.presentacion {
  
  margin: 0px auto;
  margin-top: 100px;

  width: 65vw;
  height: 450px;
  background-image: linear-gradient(
      90deg,rgb(31, 30, 30, 0.75), rgb(31,30,30, 0.55)

    ),
    url(/img/shepherd-dog-4357790_1280.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-shadow: 2px 2px 1px black;
  text-align: center;
}
.lista {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 2rem;
  padding: 1px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a,
.opciones {
  color: white;
  text-decoration:none;
  
}

a{
  transition: text-shadow .2s, scale .2s;

}
a:hover{
  text-shadow: 0px 0px 10px white;
  
  
}


.opciones {
  position: relative;
  cursor: default;
}

.opcionesHijas {
  width: 100%;
  display: none;
  position: absolute;
  padding: 2px 7.3px;
  font-size: 1.4rem;
  color: white;
}

.opciones:hover {
  transition: 0.3s background;
}
.opciones:hover .opcionesHijas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(1, 1, 26, 0.877);
}

.opcionesHijas a:hover {
  background-color: rgba(35, 26, 114, 0.37);
  width: 100%;
  color: white;
  text-align: center;
}
.cajaGaleria {
  width: 95vw;

  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 45px;
}

.spinner {
  margin: 30px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  animation: spin 1s linear infinite;
  border-bottom-color: white;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.perro {
  width: 350px;
  height: 350px;
  transition: 0.3s transform linear;
}

.perro:hover {
  transform: scale(1.1);
}

@media (width < 600px) {
  .presentacion {
    height: 350px;
    width: 95vw;

    background-size: cover;

    font-size: 1.2rem;
    text-align: center;
  }
  .lista {
    gap: 20px;
    justify-content: space-around;
  }
}
